 .jumbotron {
            width: 700px;
            text-align: center;
            margin-top:20px;
            margin-left: auto;
            margin-right: auto;
        }
        .table{
            margin-top:20px;
        }
        .form-control{
            margin-bottom:5px;
        }
        .selecionado{ 
            background-color: pink;
        }
        .negrito{
            font-weight:bold;
        }