.ui-alert{
    background-color:pink  ;
    padding: 20;
    border-radius:5px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.ui-alert-tittle{
    color: black;
    font-weight: bold;
    font-size:20;

}
.ui-alert-message{
    color:black;
    font-size:16;
}