<html ng-app="helloWorld"> <!--qual o nome da aplicacao-->
<head>
    <title>Hello World</title>
    <script src = "angular.js"></script> <!--importando o angular-->
    <script> 
        angular.module("helloWorld", []); 
        angular.module("helloWorld").controller("helloWorldCtrl", function ($scope){
            $scope.message = "Hello World!!";
        });
    </script>
</head>
<body> <!-- a view poderia ser no body tambem mas colocou ela na div-->
    <div ng-controller="helloWorldCtrl"> 
        {{message}}
    </div>
</body>
</html>
