<html ng-app="listaTelefonica"> <!-- tem que ser o mesmo nome dos controlers-->
<head>
    <meta charset = "UTF-8">
    <title>Lista Telefonica</title>
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/app.css">
    <link rel="stylesheet" type="text/css" href="css/ui.css">
    <script src = "lib/lib/angular.js"></script>
    <script src = "lib/lib/angular-messages.js"></script>
    <script src = "lib/lib/angular-locale_pt-br.js"></script>
    <script src = "js/app.js"></script>
    <script src = "js/controllers/listaTelefonicaCtrl.js"></script>
    <script src = "js/services/contatosAPIService.js"></script>
    <script src = "js/services/operadorasAPIService.js"></script>
    <script src = "js/services/serialGeneratorService.js"></script>
    <script src = "js/config/serialGeneratorConfig.js"></script>
    <script src = "js/filters/nameFilter.js"></script>
    <script src = "js/filters/ellipsisFilter.js"></script>
    <script src = "js/value/configValue.js"></script>
    <script src = "js/directives/uiAlertDirective.js"></script>
    
</head>
<body ng-controller="listaTelefonicaCtrl">
    <div class = "jumbotron">
        <h3>{{app}}</h3> 
        
        <ui-alert title="Ops, aconteceu um problema!" >
			Nao foi possivel carregar os dados
        </ui-alert>
        
       
        <input class="form-control" class="form-control" type="text" ng-model="criterioDeBusca" placeholder="O que você está buscando?"/>
        <table  class = "table table-striped">
            <tr>
                <th></th>
                <th>Serial</th>
                <th><a href="" ng-click="ordenarPor('nome')">Nome</a></th>
                <th><a href="" ng-click="ordenarPor('telefone')">Telefone</a></th>
                <th>Operadora</th>
                <th>Data</th>
            </tr>
            <tr ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat= "contato in contatos | filter:criterioDeBusca | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao">
                <td><input type="checkbox" ng-model="contato.selecionado"/></td>
                <td>{{contato.serial}}</td>
                <td>{{contato.nome | name | ellipsis:10 }}</td>
                <td>{{contato.telefone}}</td>  
                <td>{{contato.operadora.nome | lowercase}}</td>
                <td>{{contato.data | date:'yyyy/MM/dd HH:mm'}}</td>    
            </tr> 
        </table>
        <hr/>     
        <form name="contatoForm">
            <input class="form-control" type ="text" ng-model="contato.nome" name="nome" placeholder="Nome" ng-required="true" ng-minlength="10"/>
            <input class="form-control" type ="text" ng-model="contato.telefone" name="telefone" placeholder="Telefone" ng-required="true" ng-pattern="/^\d{4,5}-\d{4}$/"/>
            <select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome  + ' ( ' + (operadora.preco | currency) + ')' for  operadora in operadoras | orderBy: 'nome'">
                <option value="">Selecione uma operadora:</option>
            </select>
        </form> 
        <div ng-show="contatoForm.nome.$dirty" ng-messages="contatoForm.nome.$error">
                <div ng-message="required" class="alert alert-danger">
                    Preencha o campo nome!
                </div>
                <div ng-message="minlength" class="alert alert-danger">
                    O campo nome deve ter no mínimo 10 caract.
                </div>
        </div>
    
        <div ng-show="contatoForm.telefone.$error.required && contatoForm.telefone.$dirty" class="alert alert-danger">
            Preencha o campo telefone.
        </div>
        <div ng-show="contatoForm.telefone.$error.pattern" class="alert alert-danger">
            O campo telefone tem o formato XDDDDD-DDDD.
        </div>
       <button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)" ng-disabled="contatoForm.$invalid">Adicionar Contato</button>   
       <button class="btn btn-danger btn-block" ng-click="apagarContato(contatos)" ng-if="isContatoSelecionado(contatos)">Apagar Contatos</button>
    </div>
    <div ng-include="'file:///C:/Users/wsf/Desktop/Estagio/Repositorio/view/footer.html'"></div>
</body>
</html>